body {
  background-color: #0f0f0f;
}
.but {
  background-color: #9636df;
  color: #fff;
}
.but:hover{
  background-color: #4a2e60;
  color: #fff;
}

.textA {
  background-color: #282a36;
  border: none;
  color: #fff;
  height: 265px;
}
.form-control:focus {
  background-color: #282a36;
  color: #fff;

}
.textL {
  background-color: #212529;
  width: 100%;
  padding: 5px;
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 53.6px;
  font-weight: 500;
  color: #fff;
}
.ioContainter {
  color: #fff;
}
